<div class="bottom-nav">
    <a href="/" class="nav-item">
        <span>🏠</span>
        <p>Главная</p>
    </a>

    <a href="/cart" class="nav-item">
        <span>🛒</span>
        <p>Корзина</p>
    </a>

    <a href="/catalog" class="nav-item">
        <span>📁</span>
        <p>Каталог</p>
    </a>

    <a href="/shop" class="nav-center">
        💎
    </a>

    <a href="/chat" class="nav-item">
        <span>💬</span>
        <p>Чат</p>
    </a>

    <a href="/vip" class="nav-item">
        <span>👑</span>
        <p>Вип</p>
    </a>

    <a href="/profile" class="nav-item">
        <span>👤</span>
        <p>Профиль</p>
    </a>
</div>