<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ReversedMarket</title>
<link rel="stylesheet" href="/static/css/style.css?v=4000">
</head>
<body>

<div class="app-page">

    <div class="brand">REVERSED<span>MARKET</span></div>

    <div class="search-row">
        <form action="/search">
            <input class="input" name="q" placeholder="Search shop...">
        </form>

        <a href="/favorites-products" class="square-btn active">❤️</a>
        <a href="/catalog" class="square-btn">⭐</a>
    </div>

    <div class="section-title">Latest Items</div>

    {% if products|length == 0 %}
        <div class="empty-box">No items yet</div>
    {% else %}
        <div class="products-grid">
            {% for product in products %}
            <a href="/product/{{ product.id }}" class="product-card">
                <img src="{{ product.image }}">
                <div class="product-info">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price">€{{ product.price }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}

</div>

{% include "_nav.html" %}

</body>
</html>