<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shop</title>
<link rel="stylesheet" href="/static/css/style.css?v=999">
</head>

<body>

<div class="page">

    <div class="shop-box">

        <div class="shop-logo">💎</div>

        <h1 class="shop-title">Shop</h1>

        <p class="shop-text">
            Для создания собственного магазина вам требуется получить верификацию или иметь VIP статус.
        </p>

        <div class="shop-buttons">
            <a href="/vip" class="shop-btn">Получить VIP</a>
            <a href="/" class="shop-btn dark">На главную</a>
        </div>

    </div>

</div>

{% include "_nav.html" %}

</body>
</html>