<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Order Success</title>
<link rel="stylesheet" href="/static/css/style.css?v=999">
</head>

<body>



{% include "_nav.html" %}
<script>
function applyGlobalLang(){
    const lang = localStorage.getItem("lang") || "ru";

    document.querySelectorAll("[data-ru][data-en]").forEach(el => {
        el.innerText = el.dataset[lang];
    });
}

applyGlobalLang();
</script>
<script src="/static/js/lang.js?v=1"></script>
</body>
</html>