<!DOCTYPE html>
<html>
<head>
<title>Crypto Payment</title>
<link rel="stylesheet" href="/static/css/style.css?v=999">
</head>
<body>

<div class="topbar">
<h1>CRYPTO PAYMENT</h1>
<a href="/my-shop" class="premium-shop-btn">
    <div class="premium-shop-circle">💎</div>
    <span>Shop</span>
</a>
</div>

<div class="profile-box">
<h2>Оплата криптой</h2>

<p>USDT TRC20:</p>

<div class="crypto-box">
TXXXXXXXXXXXXXXXXXXXXXXXXXXXX
</div>

<p>После оплаты напиши продавцу в чат.</p>

<a class="pay-btn" href="/chat">Open Chat</a>
</div>

{% include "_nav.html" %}
</body>
</html>