<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="page">

    <div class="shop-box">

        <div class="shop-logo">
            💎
        </div>

        <h1 class="shop-title">
            Shop
        </h1>

        <p class="shop-text">
            Для создания собственного магазина
            вам требуется получить VIP статус.
        </p>

        <div class="shop-buttons">

            <a href="/vip" class="shop-btn blue">
                Получить VIP
            </a>

            <a href="/" class="shop-btn dark">
                На главную
            </a>

        </div>

    </div>

</div>

{% include "_nav.html" %}

</body>
</html>