<!DOCTYPE html>
<html>
<head>
<title>VIP</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="topbar">
<h1>VIP ACCESS</h1>
<a href="/my-shop" class="premium-shop-btn">
    <div class="premium-shop-circle">💎</div>
    <span>Shop</span>
</a>
</div>

<div class="profile-box">
<h2>⭐ VIP подписка</h2>
<p>VIP даёт доступ к лучшим магазинам, скидкам и приватным товарам.</p>

<a class="pay-btn" href="https://t.me/@Reversedz_Market_bot">
Оплатить Telegram Stars
</a>

<a class="pay-btn" href="/pay-card">
Оплатить картой
</a>

<a class="pay-btn" href="/pay-crypto">
Оплатить криптой
</a>
</div>

</body>
</html>